@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

li a{
  height: 30px;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin:0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  margin-top: 20px;
}

li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

li a img{
  object-fit: cover;
  height: 14.5rem;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}